<navbar></navbar>

<div class="container pt-100 mb-5">
    <h1 class="mb-2 text-center">Teklifler</h1>




    <ng-container *ngIf="cart.itemCount == 0">
        <div class="alert alert-warning mt-3 text-center">
            Girilen ihale yok <br>
            <button routerLink="/shop" routerLinkActive="router-link-active"  class="btn btn-link p-0"> Alışverişe Devam   </button>
        </div>
    </ng-container>





    <div class="row">  
        <div class="col-8">
            <ng-container *ngIf="cart.itemCount > 0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Ürün Adı</th>
                            <th>Fiyat</th>
                            <th>Miktar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of cart.items">

                            <td>
                                <img src="/assets/img/{{ item.product.imgUrl }}" width="80" height="100">
                            </td>
                            <td>{{  item.product.name }}</td>
                            <td>{{  item.product.price }} TL</td>
                            <td>
                                <input type="number" class="form-control" 
                                style="width: 75px;"
                                [value]="item.quantity"  required
                                (change)="cart.updateQuantity(item.product, $any($event.target).value)" >
                            </td>
                            <td>
                                <button class="btn btn-danger btn-sm" (click)="cart.removeItem(item.product.id)" >
                                    <i class="fa fa-times fa-fw"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
        </div>
        <div class="col-4">
            <ng-container *ngIf="cart.itemCount > 0">
                <div class="text-left">
                    <h4> Teklif özeti</h4>
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Toplam</th>
                            <th>{{ cart.total }} TL</th>

                        </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <button routerLink="/shop" class="btn btn-primary btn-sm">
                        Alışverişe Devam
                    </button>&nbsp;&nbsp;&nbsp;
                    <button routerLink="/checkout" class="btn btn-primary btn-sm ml-2">
                        Alışverişi tamamla
                    </button>
                </div>
            </ng-container>

        </div>
    </div>
</div>